@import url('https://fonts.googleapis.com/css2?family=Anton+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton+SC&family=Arsenal+SC:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
    background-color: white;
    margin: 0;
    padding: 0;
    display: block;
}

nav {
    background-color: darkcyan;
    font-size: large;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 0px 15px 0px 15px;
}

footer {
    background-color: grey;
    font-size: large;
    display: flex;
    justify-content: center;
}

.splash h1 {
    text-align: center;
    font-size: x-large;
    font-family: "Anton SC", sans-serif;
    color: #131313;
}

.splash img {
    display: block;
    border: 10px solid darkcyan;
    border-radius: 10px;
    width: 150px;
    height: 100%;
    margin: auto;
    box-shadow: 0px 5px 5px 0px;;
}

.splash p {
    text-align: center;
    font-size: small;
}

hr {
    border: 3px solid darkcyan;
}

section {
    margin: 0px 15px 0px 15px;
}

section h2 {
    font-family: "Arsenal SC", sans-serif;
    font-size: large;
    color: #4f4d4d
}

section ul {
    list-style-type: square;
    font-size: small;
}

section dl {
    display: grid;
}

section dd {
    font-size: small;
}

section a {
    color: darkcyan;
    text-decoration: none;
}

section a:hover {
    color: cyan;
}



.three-col {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 50px;
    margin-bottom: 30px;
}

.card {
    border: 3.5px solid darkcyan;
    border-radius: 15px;
    box-shadow: 0px 5px 5px 0px;
}

.card img {
    max-width: 100%;
    justify-content: center;
    border-radius: 15px;
}

.card h3 {
    text-align: center;
}

.one-col {
    display: grid;
    margin: 20px 20% 20px 20%;
}

.one-col label {
    font-family: "Anton SC", sans-serif;
    font-size: large;
    color: #131313;
}

input[type="text"] {
    font-family: 'Times New Roman', Times, serif;
}

input[type="email"] {
    font-family: 'Times New Roman', Times, serif;
}

textarea {
    font-family: 'Times New Roman', Times, serif;
}

.submit {
    margin: 5px;
    color: white;
    background-color: darkcyan;
}